code {
  font-size: 0.875em;
}

:root {
  --vp-font-family-mono: "JetBrains Mono", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace
}

pre {
  font-family: var(--vp-font-family-mono);
}

.mono {
  font-family: var(--vp-font-family-mono)
}
